@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.card {
    position: relative;

    width: 100vw;
    height: 25vh;

    display: flex;
    flex-direction: row;

    border: 0.1px solid black;
    border-radius: 10px;
    border: none;
    background-color: whitesmoke;

    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;

    cursor: pointer;
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.favorite {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.image {
    width: 40%;
    height: 100%;
    object-fit: cover;
}

.description {
    display: flex;
    flex-direction: column;

    margin-left: 10px;
}

.bottom {
    position: absolute;
    bottom: 5px;
    right: 15px;
}

.editButton {
    position: absolute;
    bottom: 5px;
    left: calc(40% + 2px);
}

.editButton:hover {
    color: rgb(35, 129, 236);
}

.deleteButton {
    position: absolute;
    bottom: 5px;
    left: calc(40% + 30px);
}

.deleteButton:hover {
    color: rgb(35, 129, 236);
}

.price {
    font-size: 1.2rem;
    font-weight: 600;
}

.detailsButton {
    border: none;
    border-radius: 5px;
    padding: 5px;

    font-weight: 700;

    background-color: rgb(35, 129, 236);
    color: white;
}

.detailsButton:hover {
    background-color: rgb(29, 104, 191);
    cursor: pointer;
}

@media (min-width:600px) {
    .card {
        width: 20vw;
        height: 50vh;

        flex-direction: column;
    }

    .image {
        width: 100%;
        height: 40%;
        object-fit: cover;
    }

    .editButton {
        left: 5px;
    }

    .deleteButton {
        left: 25px;
    }
}